@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* means for everything add box-sizing for all projects so no padding will effect the width of the elemen */
* {
  box-sizing: border-box;
}

/* Nav Bar Styles  */
body {
  font-family: 'Open Sans', sans-serif;
  margin-left: 50px;
}

a {
  text-decoration: none;
}
nav {
  background-color: rgb(153, 168, 125);
}

nav a {
  display: inline-block;
  margin: 1em;
}

.material-icons.add-cart-img {
  color: whitesmoke;
  position:absolute;
  right: 1%;
  top: 1%;
  width: 80px
}

.cart-count{

  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 1;
  background-color: skyblue;
  padding: 15px;
  width: 20px;
  height: 20px;
  border-radius: 70%;
  color: #fff;

}
/* End Nav Bar Styles */


/* Authentication Page Styles */
.auth-body{
  /* background-color: #f9fafb; */
  background-image: url(https://source.unsplash.com/4HG3Ca3EzWw/1600x900);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* takes up 100 of the view port */
  min-height: 100vh;
  /* remove margin will help center it */
  margin: 0;
}

.auth-container {
  background-color: #f9fafb;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 500px;
}

.auth-container h2 {
  text-align: center;
  margin: 0 0 20px;
}
.auth-container h5 {
  text-align: center
}

.form {
  /* top/bottom left/right */
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  border: none;
}

.form-control label {
  color: #777;
  /* Allows the labels to display above the input box */
  display: block;
  /* Creates 5px worth of space between the username Label and input box */
  margin-bottom: 5px;
}

.form-control input {
  /* the dark lines around the input box are lighten up  */
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  /* places all input attributes on an seperate line  */
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}


.redirect-link h5 {
 margin-top: 25px;
 margin-bottom: 25px;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-top: 0px;
  width: 100%;

}
/* END Authentication Page Styles */

/* All Products View Styles */
.row {
  display:flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 75px;
}

.row .all-products-inner{
  padding-top: 15px;
}

.row .product-card {
  display:flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 0px;

}
.row h1 {
  text-align: center;
}

.row ul li {
  list-style: none;
  text-align: center;
}

.col-lg-4 .col-md-6 .col-sm-6{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* END All Products View Styles */

/* Single Product View Styles  */

.btn {
  margin-top: 40px;
  margin-left: 25px;
}

.btn .btn-primary .checkout Link{
  color: black
}
/* END Single Product Styles */

/* Cart & Checkout Styling */
/* .main-cart-checkout {
  display:flex;
  flex-wrap:wrap;
}

.flex-item-left{
  flex: 50%;

}

.flex-item-right{
  flex: 50%;
} */

